@import './variables';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.link-underline:hover {
  text-decoration: underline;
}
.svg-gray {
  fill: #8c8c8c;
}
.svg-light-gray {
  fill: #f6f6f6;
}
.svg-light-gray-overlaps {
  fill: #aaaaaa;
}
.svg-dark-gray {
  fill: #4f4f4f;
}
.svg-white {
  fill: #ffff;
}

#visa {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .blue {
    fill: #265697;
  }
  &:hover .orange {
    fill: #d97b16;
  }
}
#american-express {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .blue {
    fill: #016fd0;
  }
}
#master-card {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .red {
    fill: #eb001b;
  }
  &:hover .red-orange-overlaps {
    fill: #ff5f00;
  }
  &:hover .orange {
    fill: #f79e1b;
  }
}
#discover-network {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .orange {
    fill: #d97b16;
  }
}
#wire-transfer {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .light-blue {
    fill: #00afd8;
  }
  &:hover .blue {
    fill: #006e90;
  }
  &:hover .green {
    fill: #d97b16;
  }
}
#purchase-order {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .blue {
    fill: #3d5aa2;
  }
}
#money-order {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .green {
    fill: #72a551;
  }
}
#check-card {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .blue {
    fill: #3d5aa2;
  }
}
#pay-pal {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .light-blue {
    fill: #107db0;
  }
  &:hover .dark-blue {
    fill: #1b557d;
  }
}
#pay-later {
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .blue {
    fill: #3d5aa2;
  }
  &:hover .green {
    fill: #72a551;
  }
}
#money-back-guarantee {
  fill: #969696;
  path {
    transition: fill 0.15s ease-in-out;
  }
  &:hover .inner {
    fill: #969696;
    opacity: 0.8;
  }
}
